
html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Menu */
.menu-container {
    display: flex;
    padding: 0;
    background-color: #280525;
    font-family: cursive;
    font-weight: 300;
    color: white;
}

.menu-logo {
    margin: 6px 0 0 6px;
}

#image-logo {
    /*width: 100%;*/
}

.menu-item {
    flex: 1;
    margin: 20px;
    font-size: 1.4em;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.menu-container .menu-item nav ul {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.menu-item nav ul li {
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
}

.menu-container .menu-item nav ul li a {
    color: white;
    padding: 26px 37px;
    border-right: 3px;
}

.menu-container .menu-item nav ul li a:hover {
    background-color: #becccf;
    color: #280525;
}








